---
---
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #99c;
  color: #ff9;
}

.header {
  background-color: #fff;
  padding: 2em;
  color: #111;
}

.header__left {
  float: left;
  min-width: 25%;
}

.header__right {
  float: left;
  min-width: 75%;
}

.site-link {
  display: block;
  font-size: 2em;
}

.page-title {
  display: block;
  font-size: 2em;
  text-align: center;
}

.content {
  padding: 2em;
}
